{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}

    <nav class="navbar navbar-light bg-light mb-3">
        <h3 class="text-uppercase m-0">Tasks</h3>
        <div class="d-flex justify-content-end">
            <a class="btn btn-success mr-1" href="{{ path('task_new') }}" title="Create"> <i class="fas fa-plus"></i>
            </a> <a class="btn btn-warning" href="{{ path('task_export') }}" title="Export">
                <i class="fas fa-file-export"></i> </a>
        </div>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Comment</th>
            <th>Date / Time Spent</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td class="align-middle">{{ task.id }}</td>
                <td class="align-middle">
                    <a href="{{ path('task_show', {'id': task.id}) }}" class="btn-link">{{ task.title }}</a></td>
                <td class="align-middle">{{ task.comment }}</td>
                <td class="align-middle">
                    {{ task.date ? task.date|date('d.m.Y') : '' }} / {{ task.timeSpent ? task.timeSpent|date('H:i') : '' }}
                </td>
                <td class="align-middle">
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-secondary mr-1" href="{{ path('task_edit', {'id': task.id}) }}">
                            <i class="fas fa-pen"></i> </a>
                        {{ include('task/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tasks) }}
    </div>
{% endblock %}
